# Add patterns in here to exclude files created by tools integrated with this
# repository, such as test frameworks from the project's recommended workflow,
# rendered documentation and package builds.
#
# Don't add patterns to exclude files created by preferred personal tools
# (editors, IDEs, your operating system itself even). These should instead be
# maintained outside the repository, for example in a ~/.gitignore file added
# with:
#
# git config --global core.excludesfile '~/.gitignore'

*.pyc
.eggs/
*.log
.coverage
.venv
.tox
cover/
oslo.i18n.egg-info/
.openstack-common-venv/
skeleton.egg-info/
build/
dist/
doc/source/reference/api
AUTHORS
.update-venv/
ChangeLog
openstack/versioninfo
*.egg
openstack/common/db/*.sqlite
.stestr/
etc/openstack.conf.sample

# reno build
releasenotes/build
releasenotes/notes/reno.cache
RELEASENOTES.rst
